{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
<div class="col">
<p>{{contactPage.description}}</p>
</div>
<div class="col">
<h3>{{contactPage.titre}}</h3>
<p>{{contactPage.mail}}</p>
<a href={{contactPage.lien_reseau}}>{{contactPage.lien_reseau}}</a>
</div>
</div>
{% endblock %}
