{% extends 'base.html.twig' %}

{% block body %}
{% for annonceContact in contactPage %}
	<div class="container contact-page">
			<div class="col-3 ">
				<h3>{{annonceContact.titre}}</h3>
			</div>
			<div class="col-6  ">
				<p>{{annonceContact.description|format_file_from_text}}</p>
			</div>
			<div class="col-3 ">
				<a class="lien-reseau-contact" href={{annonceContact.lienreseau}}>Lien d'un réseau</a>
				<p>{{annonceContact.mail}}</p>
				<img class="logo-contact" src={{asset('./upload/'~ annonceContact.logo)}} alt="...">
			</div>
	</div>
</div>{% endfor %}
{% endblock %}
